<p class="byline">
<a class="btn btn-primary btn-xs" href="{{ post.url }}"></a> 

{% for category in post.categories %}
<span class="category">
<a class='btn btn-primary btn-xs btn-warning' href=''>{{ category }}</a> 
</span>
{% endfor %}

<!-- 
{{ post.categories }}
{{ post.tags }}
{{ post.id }}

<span class="tags">
<?php 
$posttags = get_the_tags();
if ($posttags) {
  foreach($posttags as $tag) {
    echo "<a class='btn btn-primary btn-xs btn-info' href='/".$my_tag_base."/".$tag->slug."'/>".$tag->name."</a>\n"; 
    }
  }
 ?>
</span> 
-->

<time class="text-muted">{{ post.date }}</time>

<!-- /.byline --></p>
