{% include header.html %}

<section class="content-area"><div class="container">
<div class="row"> 
<div class="col-md-12">

{{% assign my_test = page.relative_path | truncate: 6, "" %}}
<!-- {{ my_test }} -->
{{% if my_test == "_posts" %}}{{% assign my_additional_class = " post" %}}{{% endif %}}
<article class="{{ page.class }}{{ my_additional_class }}" >
<!-- {{ page.relative_path }} -->

{{ content }}
</article>

<!-- /.col-md-12 --></div>
<!-- /.row --></div>
<!-- /.content-area --></div></section>

{% include footer.html %}
